{% extends 'base.html' %}
{% block content %}
<nav>
            <a href="{{ url_for('home') }}">Home  |  </a>
            <a href="{{ url_for('student_register') }}">Student Register  |  </a>
            <a href="{{ url_for('login') }}">Login</a>
</nav>
<h2>Placement Cell Registration</h2>
<form method="POST" action="{{ url_for('admin_register') }}">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Email:</label>
    <input type="email" name="email" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <label>Department:</label>
    <input type="text" name="department" required><br><br>
    <label>
        <input type="checkbox" class="checkbox" required>I agree to the <a href="{{url_for('terms')}}" target="_blank">Terms & Conditions</a>
    </label>

    <button type="submit">Register</button>
</form>
{% endblock %}