<!-- Social Media Icons -->
<div class="social-bar">
  <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook"></a>
  <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733561.png" alt="LinkedIn"></a>
  <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter"></a>
  <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram"></a>
  <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube"></a>
</div>

<!-- Extended Footer Section -->
<div class="footer-extended">
  <div class="footer-extended-content">

    <div class="footer-extended-links">
      <div>Students</div>
      <div>Placement cell</div>
      <div>Alumni</div>
      <div>Industry</div>
      <div>Directory</div>
    </div>

    <div class="footer-extended-divider"></div>

    <div class="dept-section">Departments</div>
    <div>Annual Reports</div>
    <div>Total placement</div>
    <div>2020-2025</div>

    <div class="footer-extended-divider"></div>

    <div class="bottom-text">
      Accessibility | Privacy Policy | Terms of Use | Sitemap <br>
      © 2025 Technological univerity- All rights reserved <br>
      Powered by <br>
      T&P (Training and placement units)
    </div>

  </div>
</div>
